.pageWrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f3f4f6;

}
.appContainer {
    display: flex; /* Garde son display flex (row par défaut) */
    flex-grow: 1;  /* PREND TOUT L'ESPACE VERTICAL RESTANT ! */
    overflow: hidden; /* Empêche les dépassements bizarres */
}

.iconSidebarWrapper {
    /* Cet élément ne doit pas rétrécir. Sa largeur sera définie par son contenu. */
    flex-shrink: 0;
    background-color: #1f2937; /* Gris foncé */
}

.sidebarWrapper {
    /* Cet élément non plus ne doit pas rétrécir. */
    flex-shrink: 0;
    background-color: #ffffff;
    border-right: 1px solid #e5e7eb;

}

.pageContent {
    flex-grow: 1;
    padding: 24px;
    overflow-y: auto;
    background-color: #f3f4f6;
}
